<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sk.palistudios.multigame"
          android:versionCode="15"
          android:versionName="1.54"
    >

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/app_id"/>

    <meta-data android:name="com.google.android.gms.games.APP_ID"
               android:value="@string/app_id" />

    <meta-data android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    />

    <uses-sdk
        android:targetSdkVersion="19"
        android:minSdkVersion="9"/>

    <application
        android:label="@string/app_name"
        android:name="sk.palistudios.multigame.MgApplication"
        android:icon="@drawable/logo">

        <activity
            android:name="sk.palistudios.multigame.StartActivity"
            android:label="MultiGame"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="sk.palistudios.multigame.mainMenu.MainMenuActivity"
            android:label="MultiGame"
            android:launchMode="singleTask"
            android:theme="@style/Multigame_style_other"

            >
        </activity>
        <activity
            android:name="sk.palistudios.multigame.game.GameActivity"
            android:label="MultiGame"
            android:screenOrientation="landscape"
            android:theme="@style/Multigame_style_game"

            >
        </activity>

        <activity
            android:name="sk.palistudios.multigame.hall_of_fame.HallOfFameActivity"
            android:label="Hall Of Fame"
            android:theme="@style/Multigame_style_other"
            >
        </activity>

        <activity
            android:name="sk.palistudios.multigame.customization_center.CustomizationCenterActivity"
            android:label="Customization Center"
            android:theme="@style/Multigame_style_other"
            >
        </activity>

        <activity
            android:name="sk.palistudios.multigame.preferences.PreferencesActivity"
            android:label="Preferences"
            android:theme="@style/Multigame_style_other"
            >
        </activity>


        <!-- TABS -->

        <activity
            android:name="sk.palistudios.multigame.customization_center.achievements.AchievementsCenterListActivity"
            android:label="AchievementsCenter"
            android:theme="@style/Multigame_style_other">
        </activity>

        <activity
            android:name="sk.palistudios.multigame.customization_center.mgc.MinigamesCenterListActivity"
            android:label="MiniGamesCenter"
            android:theme="@style/Multigame_style_other">
        </activity>

        <activity
            android:name="sk.palistudios.multigame.customization_center.skins.SkinsCenterListActivity"
            android:label="SkinsCenter"
            android:theme="@style/Multigame_style_other">
        </activity>

        <activity
            android:name="sk.palistudios.multigame.customization_center.music.MusicCenterListActivity"
            android:label="MusicCenter"
            android:theme="@style/Multigame_style_other">
        </activity>

        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"/>
    </application>

</manifest>
